
@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<VMS.Models.Admin.CompanyModel> employees = ViewData["GetCompanyList"] as List<VMS.Models.Admin.CompanyModel>;
}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- DataTables -->
@*<link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">*@
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@
@*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@




<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Company List</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Company List</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">



        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <h4 class="card-title">Company List</h4>
                        <div class="card-tools"> <button type="button" class="btn btn-tool btn-sm btn-default anchorDetail">Add Company</button></div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="tblCustomers" class="display" style="width:100%" ">
                                    <thead>
                                        <tr>
                                            <th>Company Name</th>
                                            <th>Contact Person</th>
                                            <th>Phone</th>
                                            <th>Address</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->
<!-- Page specific script -->

@section scripts
{
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>-->
    @*<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />*@



<script type="text/javascript">
         var AddURL = $("#WebUIUrl").val() + '/Master/AddCompany?userId=@ViewBag.UserId&userName=@ViewBag.UserName&Id=0';
    var EditURL = $("#WebUIUrl").val() + '/Master/AddCompany?userId=@ViewBag.UserId&userName=@ViewBag.UserName';

        $(function () {
            $.ajax({
                type: "POST",
                url: "/Master/AjaxMethod",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert(response.d);
                    alert(response.d);
                },
                error: function (response) {
                    alert(response.d);
                }
            });
        });
        function OnSuccess(response) {
            debugger;
            $("#tblCustomers").DataTable(
                {
                    bLengthChange: true,
                    bFilter: true,
                    bSort: true,
                    bPaginate: true,
                    data: response,
                    columns: [{ 'data': 'Name' },
                    { 'data': 'ContactPerson' },
                    { 'data': 'Phone' },
                    { 'data': 'Address' }
                    ],
                    columnDefs: [{
                        "targets": 4,
                        "data": null,
                        "defaultContent": "<button class='btn btn-primary fa fa-edit' style='text-decoration-style:none' onclick='GetUsersDetails(this)'>Edit</button>"
                    }]
                });
        };
        $("#tblCustomers").dataTable({ searching: false, paging: false, info: false });

        function GetUsersDetails(ele) {
        
            var dataRow = $('#tblCustomers').DataTable().row($(ele).closest('tr')).data();           
            var newURL = EditURL + "&Id=" + dataRow.Id;

            return window.location.href = newURL;          
        }
    $(function () {

        $(".anchorDetail").click(function () {
            return window.location.href = AddURL;
        });

        $(".edit").click(function () {

            debugger;
            var $buttonClicked = $(this);
            var id = $buttonClicked.attr('data-id');
            if (id == undefined)
                id = 0;
            var options = { "backdrop": "static", keyboard: true };

            var newURL = EditURL + "&Id=" + id;

            return window.location.href = newURL;
        });
    });

</script>
    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!--<script src="../dist/js/demo.js"></script>-->
    @*<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>*@
    @*<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>*@

 

}



